# Автоматическое преобразование перевода строк для текстовых файлов
* text=auto

# Отключение преобразования для бинарных файлов
*.png binary
*.jpg binary
*.jpeg binary

# Исключение node_modules
node_modules/* -text
