
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.container{
    padding: 0 50px;

}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    gap: 52px;
    font-size: 18px;

}
.logo__img img{
    width: 100%;
}
.user__header{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 24px;
}

@media (max-width: 1200px) {
    .header__list{
        gap: 35px;
    }
    .user__header{
        font-size: 18px;
        gap: 20px;
    }
}

@media(max-width: 1024px){
    img .logo__img {
        width: 150px;
    }
    .header__list{
        font-size: 16px;
        gap: 15px;
    }
    .logo .logo__img{
        max-width: 150px;
    }
    .header__inner{
        gap: 35px;
    }
}