@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
      }
  
  *{
    font-family: Montserrat;
  }
  
  .loginsignup{
    width: 100%;
    height: 80vh;
}

.loginsignup-container{
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.loginsignup-container h1{
    margin: 20px 0;
    text-align: center;
    font-weight: 300;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;

}

.loginsignup-fields input{
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    
}
.loginsignup-fields input:first-child{
    margin-top: 30px;
}

.loginsignup-container button{
    width: 253px;
    height: 50px;
    color: white;
    background: #22333B;
    margin: 0 auto;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    font-size: 18px;
    font-weight: 300;    
    cursor: pointer;
}

.loginsignup-login{
    margin-top: 15px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 300;
}
.loginsignup-login span{
    color: #22333B;
    font-weight: 500;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-weight: 500;
}

.redirect-login{
    margin-top: 25px;
    font-weight: 500;

}